<form action="" method="POST">
    <div class="imgcontainer">
     
      <h1>Add Movie</h1>
  
    <div class="container">
      <label for="title"><b>Title</b></label>
      <input type="text" placeholder="Enter a title" name="title" required>
  
      <label for="year"><b>Year</b></label>
      <input type="text" placeholder="Enter the year" name="year" >
  
      <label for="actors"><b>Actors</b></label>
      <input type="text" placeholder="Enter actors with comma" name="actors" required>
  
      <label for="desc"><b>Description</b></label>
      <input type="text" placeholder="Enter the description" name="desc" >

      <button type="submit">Add</button>
    </div>
   </div>
  </form> 