<form action="" method="POST" >
<h1>MOVIEFLIX</h1>
<hr>
<div class="topnav">
<h2>User email : {{usr}}</h2>
<a href="{{ url_for('del_acc', usr = usr) }}" class="button">Delete my account</a>

</div>
<hr>
<div class="topnav">
    <label for="ans"><b>Search movie by :</b></label>
    <input type="text" placeholder="type title or year or actor" name="ans">
<button type="submit">Search</button>

    
</div> 
<div class="topnav">
<h4>My comments and ratings  :<a href="{{ url_for('see_com_rat', usr = usr) }}" class="button">See</a></h4>

</div>



</form>