<form action="" method="POST"> 
  <div class="container">
    
     
         
          <h1>MovieFlix Register</h1>
           <hr>
             <div class="form-group">  
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>

              <label for="name"><b>Name</b></label>
              <input type="username" placeholder="Enter Username" name="name" id="name" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
             </div>
            
            <hr>

           <button type="submit" class="registerbtn">Register</button>
     
   
   <div class="container signin">
     <p>Already have an account? <a href="{{ url_for('login_users') }}">Log in</a>.</p>
   </div>
 </div>
</form>
