<!DOCTYPE html>
 <html> 
 <form action="" method="POST" method="GET">
    <h1>{{usr}} RATINGS</h1>
    <body>  
    {% for item in ratmov %}
      <h4>Rating :</h4>
      <li>{{item[0]}}</li> 
      <h4>Movie :</h4>
      <li>{{item[-1]}}</li>
      <h4>Year :</h4>
      <li>{{item[2]}}</li>
      <li></li>
      <a href="{{ url_for('del_rat', usr = usr ,delrat = item[0], delmov = item[1]) }}" class="button">Delete rating</a>
      <h3> ----------------------------------</h3>
    {% endfor %}
    </body>
</form>
</html> 